<form [formGroup]="newUserForm">
  <div class="card card-shadow p-2">
    <div class="card-body p-4">
      <div>
        <h4>Create a New User</h4>
      </div>
      <hr>

      <div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" formControlName="username"
                 placeholder="zhorvath" required>
          <div *ngIf="username.invalid && (username.dirty || username.touched)"
               class="alert alert-danger">
            <div *ngIf="username.errors.required">
              A username is required.
            </div>
          </div>
        </div>
w
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" formControlName="firstName" id="firstName"
                     placeholder="Zach" required>
              <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                   class="alert alert-danger">
                <div *ngIf="firstName.errors.required">
                  A first name is required.
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" id="lastName"
                     placeholder="Horvath" required>
              <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                   class="alert alert-danger">
                <div *ngIf="lastName.errors.required">
                  A last name is required.
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-primary" (click)="onSubmit()">Save User</button>
      </div>
      <br>
      <button role="button" routerLink="/users" class="btn btn-block btn-secondary">
        Back to All Users
      </button>
    </div>
  </div>
</form>
